.about-me {
    padding-bottom: 125px;
    max-width: 1140px;
    margin: 0 auto 0 auto
}

.about-me__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.about-me__subtitle {
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
}

.about-me__portfolio {
    display: flex;
    flex-direction: column;
    max-width: 1140px;
    width: 100%;
}

.about-me__portfolio-title {
    color: #A0A0A0;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
}

.about-me__portfolio-link {
    padding: 0;
    padding-bottom: 19px;
    margin-top: 20px;
}

.about-me__portfolio-link-wrap {
    max-width: 1140px;
    width: 100%;
    display: flex;
    flex-direction: row;
    border-bottom: solid 1px #E8E8E8;
    justify-content: space-between;
    font-weight: 400;
    font-size: 30px;
    line-height: 50px;
}

.about-me__photo {
    max-width: 270px;
    max-height: 327px;
    object-fit: cover;
    border-radius: 10px;
}

.about-me__name {
    font-weight: 400;
    font-size: 50px;
    line-height: 58px;
    margin: 0;
}

.about-me__info {
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    max-width: 600px;
}

.about-me__full-info {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    width: 100%;
}

.about-me__contacts {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 0;
    padding: 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    list-style: none;
}

.about-me__contact-item {
    margin: 99px 20px 100px 0px;
}

@media screen and (max-width: 1160px) {
    .about-me {
        max-width: 668px;
    }

    .about-me__full-info {
        max-width: 364px;
    }

    .about-me__photo{
        max-width: 255px;
        max-height: 307px;
    }
}

@media screen and (max-width: 1160px) {
    .about-me {
        max-width: 668px;
    }

    .about-me__full-info {
        max-width: 400px;
    }

    .about-me__photo{
        max-width: 240px;
        max-height: 307px;
    }
}

@media screen and (max-width: 690px) {
    .about-me {
        max-width: 500px;
        margin-right: auto;
        margin-left: auto;
    }
}

@media screen and (max-width: 550px) {
    .about-me {
        max-width: 292px;
        margin-right: auto;
        margin-left: auto;
        align-items: center;
        align-self: center;
        align-content: center;
    }

    .about-me__name {
        font-size: 30px;
        line-height: 36px;
    }

    .about-me__subtitle {
        font-size: 11px;
        line-height: 16px;
    }

    .about-me__info {
        font-size: 11px;
        line-height: 16px;
    }

    .about-me__wrapper {
        flex-direction: column-reverse;
        margin-right: auto;
        margin-left: auto;
    }

    .about-me__photo{
        max-width: 292px;
        max-height: 352px;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 40px;
    }

    .about-me__portfolio {
        max-width: 282px;
    }

    .about-me__portfolio-title {
        font-size: 14px;
        line-height: 20px;
    }

    .about-me__portfolio-link-wrap {
        max-width: 292px;
        font-size: 18px;
        line-height: 28px;
    }
}